body {
    margin: 0;
    background-image: url("../img/god-of-war-pc-juego-steam-cover.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Parte principal del proyecto */
.container {
    width: 700px;
    height: 350px;
    margin: auto;
    margin-top:15%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

/* logo */
img {
    position: absolute;
    width: 200px;
    bottom:465px;
    right:610px;
}

/* Parte Izquierda*/
#lefthand {
    grid-column: 1 / 2;
    background-color: rgb(39, 39, 211);
    border-radius: 70px 0 0 70px;
    box-shadow: 1px 1px 5px 7px rgb(39, 39, 211);
}


/* El boton grande */
.btn-1 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color:black;
    border-radius: 50%;
    top: 201px;
    left: 30px;
    cursor: pointer;    
}


/* Mini-botones izquierda  */
.bt5{
    top: 39px;
    left: 37px;
}

.bt6{
    top: 9px;
    left: 12px;
}

.bt7 {
    top: 23px;
    left: 8px;
}

.bt8 {
    top: 24px;
    right: 55px;
}
/* Cuadrado inferior izquierda */
.cadr {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:black;
    top: 210px;
    left: 10px;
}

/* Pantalla */
#main {
    grid-column: 2 / 3;
    background-color: rgb(24, 22, 22);
    box-shadow: 1px 1px 5px 7px rgb(24, 22, 22);
    
}


.screen {
    position:relative;
    width: 470px;
    height: 330px;
    background-color: rgb(32, 28, 28);
    left: 10px;
    top: 09px;
    cursor: pointer;
}

.screen video {
    width: 100%;
    height: 100%;
    transition: 600ms ease-out;
    opacity: 0;
}

.screen:hover > video {
    opacity: 1;
}

/* Parte derecha */
#righthand {
    grid-column: 3 / 4;
    background-color: rgb(211, 38, 38);
    border-radius: 0 70px 70px 0;
    box-shadow: 1px 1px 5px 7px rgb(211, 38, 38);
}

.btn {
    position: relative;
    width: 40px;
    height: 40px;
    background-color:black;
    border-radius: 50%;
    top: 60px;
    left: 30px;
    cursor: pointer;
}

/* Mini-botones */

.bt-5,
.bt1,
.bt2,
.bt3,
.bt4 {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}
.bt1 {
    top: 180px;
    left: 40px;
}

.bt2 {
    top: 150px;
    left: 16px;
}

.bt3 {
    top: 165px;
    left: 10px;
}

.bt4 {
    top: 165px;
    right: 52px;
}

 
.cadr-1 {
    position: relative;
    width: 20px;
    height: 20px;
    background-color:black;
    top: 210px;
    left: 58px;
}



